@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    /* max-width: 1920px; */
    font-family: "Roboto";
    margin: auto;
}


.title{
    color: #1F4D36;
    font-size: 70px;
}
.description{
    color: #1F4D36;
    font-size: 20px;
}
.button{
    font-family: "Roboto";
    color: #1F4D36;
    border: 1px solid #1F4D36;
    background-color: #1F4D36;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}
.button:hover{
    background-color: #12be68;
    border: 1px solid #12be68;
    
}

form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 20px;
    min-width: 400px;
    border: 0;
    border-bottom: 2px solid #1F4D36;
}
input::placeholder{
    color: #1F4D36;
    font-family: 'Roboto';
    font-size: 25px;
}
input:focus{
    outline: none ;
}

.section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

hr{
    width: 100%;
}

.white{


    color: #F2F4EA;
}
.transparent{
    background-color: transparent;
}


header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #1F4D36;
    background-color: #F2F4EA;
    min-height: 100px;
}
.nav__list{
    display: flex;
    list-style-type: none;
    gap: 50px;
    cursor: pointer;
}
.nav__item:hover{
    color: #12be68;
}
main{
    
}

.care-section__button{
    color: #CFE3CC;
}
.care-section__description{
    max-width: 500px;
}

.care-section__images{
    position: relative;
}
.care-section__image-2{
    position: relative;
    left: -600px;
}


.finance-platform-section{
    margin-top: 100px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(31,77,54);
    background:  -webkit-linear-gradient(270deg, rgba(31,77,54,1) 70%, rgba(255,255,255,1) 70% 100%);

}
.finance-platform-section__title{
    
    margin: auto;
    margin-top: 100px;
    max-width: 900px;
}
.finance-platform-section__description{
    max-width: 600px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.finance-platform-section__image-block{
    margin: auto;
}
.finance-platform-section__image{
    object-fit: contain;
}


.financial-life-section{
    text-align: center;
}
.financial-life-section__title{
    margin: auto;

    max-width: 700px;
}

.financial-life-section__description{
    max-width: 700px;
}


.financial-solution-section__title{
    margin-right: 25px;
    max-width: 500px;
    font-size: 50px;
}




.financial-solution-section__button{
    margin-top: 50px;
    max-width: 200px;
    font-size: 20px;

}

.physicians-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1F4D36;
}

.physicians-section__title{

}

.physicians-section__container{
    margin:100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    max-width: 1500px;
    min-width: 1200px;
}
.physicians-section__item{
    text-align: center;
}
.physicians-section__image{
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #F2F4EA;
}

.knowledge-section{
    text-align: center;
}

.knowledge-section__button{
    min-width: 100px;
}

.waitlist-section{
    background-color: #CFE3CC;
    padding: 100px;
}

.waitlist-section__info{
    margin-right: 200px;
}

.waitlist-section__info input{
    background-color: #CFE3CC;
}

.waitlist-section__form{
    justify-content: space-around;
    min-height: 500px;
}

.waitlist-section__button{
    max-width: 200px;
}



footer{
    min-height: 600px;
    max-height: 1000px;
    background-color: #1F4D36;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.footer__title{

    max-width: 700px;
}

.footer__container{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    /* min-width: 1200px; */
}
.footer__list{
    list-style-type: none;
}
.footer__list .footer__item:first-child{
    margin-bottom: 10px;
    color: red;
}